
body {
 font-family:"trebuchet ms",sans-serif;
 font-size:90%;
 }
form {
 background-color:#FAFAFA;
 padding:10px;
 width:280px;
 }

 input[type=submit] {
 width:200px;
 margin-left:5px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 }

p
{
    width: 250px;
    border: 1px solid black;
    text-align: justify;
    padding: 12px; 
}